.about-container{
    margin: 8rem 6rem 4rem;
    text-align: start;
}

.about-container h1{
    padding-bottom: 1rem;
}
.about-container p{
    padding-bottom: 2rem;
}

@media screen and (max-width:850px) {
    .about-container{
        margin: 7rem 2rem 2rem;
    }
}