.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #0059a9;
  font-size: 14px;
  height: 40px;
  border-bottom: 1px solid #ddd;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0; /* Fix position at the top */
}

.banner-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.banner-left p {
  margin: 0;
  font-weight: bold;
  color: white;
}

.banner-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.banner-icon {
  font-size: 18px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.banner-right a {
  color: white;
  font-size: 1.4rem;
}

.banner-right a:hover {
  color: #3468cf;
}

/* Responsive Design */
@media (max-width: 768px) {
  .banner-container {
      flex-direction: row;
      height: 40px;
      padding: 0.5rem;
  }
  .banner-left,
  .banner-right {
      justify-content: center;
      text-align: center;
  }
}
